@keyframes shake
  6%
    transform: translate(-2px)
  18%
    transform: translate(2px)
  28%
    transform: translate(-2px)
  36%
    transform: translate(2px)
  42%
    transform: translate(-1px)
  46%
    transform: translate(1px)
