html, body
  height: 100%

#app
  min-height: 100%
  background-color: color-bg

.app-wrapper
  position: relative
  padding-bottom: 100px

.app-header
  line-height: 80px
  text-align: center

.container
  width: 90%
  min-width: 720px
  padding: 20px
  border-radius: radius-wrapper
  margin: 0 auto
  background-color: color-fg
  box-shadow: 0 0 6px color-shadow
  input, textarea
    padding: 0 5px
    section-border-style()
    &:focus
      outline: none
      border-color: color-focus
      box-shadow: 0 0 2px color-focus inset

.app-footer
  position: absolute
  bottom: 0
  padding: 10px
  width: 100%
  height: 80px
  background-color: color-fg

.app-top-fixed + .app-row
  margin-top: 45px

.app-row
  .app-col
    padding-left: 20px
    &:first-child
      padding-left: 0

.app-operations
  padding-top: 5px
  padding-bottom: 10px
  text-align: center
  .file-name
    position: relative
    display: inline-block
    label
      position: absolute
      top: 2px
      right: 2px
      padding: 0 5px
      height: 18px
      line-height: 18px
      border-radius: radius-input
      background-color: color-bg
    input
      width: 200px
      padding-right: 40px

.app-top-fixed
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 45px
  background-color: color-fg
  box-shadow: 0 0 3px color-shadow
  z-index: 99
  .app-top-inner
    width: 90%
    margin: 0 auto
  .sections-operations
    margin-left: 20px
