.doc-section
  position: relative
  margin-top: 10px
  &:first-child
    margin-top: 0
  .section-label
    position: absolute
    top: 0
    left: 0
    padding-right: 10px
    width: 80px
    text-align: right
  .section-content
    margin-left: 80px

.section-content
  input, textarea
    width: 100%
  textarea
    resize: none

.section-shower
  textarea
    width: 100%
    height: 300px
    resize: none

.section-preview
  border-radius: 4px
  border: 1px solid #eee
  margin: 0
  padding: 10px
  height: 400px
  overflow: auto
  white-space: pre-wrap
  background-color: #4b4b4b
  color: #f9f9f9
